<table border=1px>
    <tr>
        <th>Title</th>
        <th>content</th>
    </tr>
    <% @albums.each do |album|%>
    <tr>
        <td><%= album.title %></td>
        <td>content</td>
    </tr>
    <% end %>
</table>
<br>

