<div class="row">
  <div class="w-100">
        <div class="card card-image home-card-image" style="background-image: url(https://st2.depositphotos.com/1592123/11658/i/950/depositphotos_116582312-stock-photo-menu-food-culinary-frame-concept.jpg);
          margin-left: -55px  ">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4 home-card-image">
                <div class="py-5">

                    <!--Content-->
                        <h2 class="orange-text font-bold">Foodaholic</h2>
                        <h5 class="card-title pt-3 mb-5 font-bold">このサイトであなたの自慢の料理を公開しよう！</h5>
                        <p class="px-5 pb-4"></p>
                        <%= link_to new_user_session_path do %>
                            <button class="btn btn-rounded peach-gradient">サインイン</button>
                        <% end %>
                        
                        <%= link_to new_user_registration_path do %>
                            <button class="btn btn-outline-warning waves-effect btn-rounded">サインアップ</button>
                        <% end %>
                    <!--Content-->

                </div>
            </div>
        </div>
    </div>
</div>