    <% if user_signed_in? %>
        <%= render 'signed_in' %>
    <% else %>
        <div class="row">
            <%= link_to "サインイン",new_user_session_path %>
            <%= link_to "サインアップ",new_user_registration_path %>
        </div>
    <% end %>
