@import "bootstrap";
@import "static_pages";
@import "_sidebar";

.nav-left {   
    position: fixed;
    height: 100vh;

}
.mCustomScrollbar {
    ul {
     height: 100vh;   
    }
}

.nav-icon {
    width: 100%;
}


.nav-item.dropdown:hover>.dropdown-menu {
      display: block;
    }


.album-container {
    border: 1px solid gray;
    padding: 10px;
}

.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}

.card-image {
    background-size: cover;
    background-position: center;
    
}

.btn-rounded {
    border-radius: 10em !important;
}

.nav a.white-text:hover {
    background-color: #F5105D !important;
}
.nav a.dark-grey-text:hover {
    color: #78909c!important;
}
.nav a.indigo-text:hover {
    color: #7986cb!important;
}

.home-card-image {
    height: 100vh;
}

.avatar-pic {
  width: 150px;
}

.d-flex {
    display: flex!important;
}

.justify-content-center {
    justify-content: center!important;
}

.float-left {
    float: left !important;
}

.preview {
    img {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }
}

.nav {
    position: fixed !important;
    height: 100vh;
}

.margin-nav-left {
    margin-left: 100px;
}

.logo {
    img {
       width: 100%;
    }
}

.view {
    z-index: 2;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    position: relative;
    overflow: hidden;
    cursor: default;
}
.card-body-cascade {
    background-color: white;
    z-index: 3;
    margin-top: -200px;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    margin-left: 4%;
    margin-right: 4%;
}
.view-cascade {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.card-cascade {
  box-shadow: none !important;
}

.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
  }
}

.avatar {
  z-index: 4;
  width: 120px;
  margin-top: -80px;
  margin-left: 460px !important;
}

.avatar-border {
  border: 5px solid #fff;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.white {
  background-color: #fff!important;
}

.w-90 {
  width: 90% !important;
}

.bs {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}