<div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 border-right p-0 nav-left pink z-depth-1">
  <nav class="nav flex-column lighten-3 py-4 mb-r font-weight-bold">
        <a class="nav-link active white-text waves-effect" href="#">Active</a>
        <a class="nav-link white-text" href="#">Link 1</a>
        <a class="nav-link white-text" href="#">Link 2</a>
        <a class="nav-link white-text" href="#">Link 3</a>
    </nav>
</div>